@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebAssemblyTest.Shared
@*@attribute [Authorize]*@
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="container">
	<h1>SWAPI</h1>
	<div>Hello! Welcome to the great universe of <b>STAR WARS!</b> Step into a world of starships, blasters, and lots of money. The best part? It's as easy as 1 click to get! Login and have a look around to see all the great things you can do!</div>
</div>
<div class="row text-center">
	<button class="btn btn-primary btn-lg" type="button" onclick="@populate">Populate</button>
</div>


@code {
	private Person person;
	private bool disabled;
	private int page = 1;

	protected override Task OnInitializedAsync()
	{
		return base.OnInitializedAsync();
	}

	private async Task getPerson()
	{
		//person = await service.GetPersonFromApi(1);
		try
		{
			person = await Http.GetFromJsonAsync<Person>($"api/Swapi/person/{page}");
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	private async Task populate()
	{
		await Http.GetAsync($"api/Swapi/populate");
	}

}
